<h1 style="text-align: center;"><span style="color: #ff0000;"><strong>GymPoint</strong></span></h1>
<blockquote>
  <p style="font-size: 16px;">Pergunta feita dia <strong>{{questionDate}}</strong></p>
  <p style="font-size: 20px;"><strong>Você:</strong> {{question}}</p>
  <p style="font-size: 18px;"><strong>Res.:</strong> {{answer}}</p>
  <p style="font-size: 16px;text-align: right;"><strong>Data da resposta:</strong>{{answerDate}}</p>
  <p style="text-align: right;"><em><strong>Att. Administração GymPoint</strong></em></p>
</blockquote>
