<h1 style="text-align: center;"><span style="color: #ff0000;"><strong>GymPoint</strong></span></h1>
<blockquote>
  <p style="font-size: 16px;"><strong>Bem vindo</strong> <em>{{student}}</em> a academia <strong>Gympoint</strong>.</p>
  <p>Temos um imenso prazer em ter você conosco.</p>
  <p>A sua matricula do plano {{planName}} no valor de {{planValue}} reais mensais com o término dia {{date}} foi
    concluida com sucesso.</p>
  <p style="text-align: right;"><em><strong>Att. Administração GymPoint</strong></em></p>
</blockquote>
